In [36]:
import numpy as np
import pandas as pd
import math
import matplotlib as plt
from pandas.api.types import is_string_dtype,is_numeric_dtype

%matplotlib inline

In [7]:
PATH = '/home/halil/Belgeler/Kodlama calismalari/py/Patika/Intermadiate data science/data/bulldozers/' 

df=pd.read_csv(f'{PATH}Train.csv',low_memory=False,parse_dates=["saledate"])

In [11]:
df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## RMSLE

In [14]:
df['SalePriceLog'] = np.log(df.SalePrice)

In [16]:
df[['SalePrice','SalePriceLog']].head()

   SalePrice  SalePriceLog
0      66000     11.097410
1      57000     10.950807
2      10000      9.210340
3      38500     10.558414
4      11000      9.305651

In [17]:
df["UsageBand"]

0            Low
1            Low
2           High
3           High
4         Medium
           ...
401120       NaN
401121       NaN
401122       NaN
401123       NaN
401124       NaN
Name: UsageBand, Length: 401125, dtype: object

In [19]:
for n,c in df.items():
    print(n)
    print("----------")
    print(c)
    break

SalesID
----------
0         1139246
1         1139248
2         1139249
3         1139251
4         1139253
           ...
401120    6333336
401121    6333337
401122    6333338
401123    6333341
401124    6333342
Name: SalesID, Length: 401125, dtype: int64

In [24]:
def train_cats(df):
    for n,c in df.items():
        if is_string_dtype(c):
            df[n]=c.astype("category").cat.as_ordered()

In [25]:
def apply_cats(df,train):
    for n,c in df.items():
        if train[n].dype == "category":
            df[n] = pd.Categorical(c,categories = train[n].cat.categories , ordered= True)

In [28]:
train_cats(df)

In [29]:
df["UsageBand"]

0            Low
1            Low
2           High
3           High
4         Medium
           ...
401120       NaN
401121       NaN
401122       NaN
401123       NaN
401124       NaN
Name: UsageBand, Length: 401125, dtype: category
Categories (3, object): ['High' < 'Low' < 'Medium']

In [30]:
df["UsageBand"].cat.categories

Index(['High', 'Low', 'Medium'], dtype='object')

In [32]:
df["UsageBand"].cat.set_categories(["High","Medium","Low"],ordered=True,inplace=True)

/tmp/ipykernel_15014/1399414152.py:1: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df["UsageBand"].cat.set_categories(["High","Medium","Low"],ordered=True,inplace=True)

In [33]:
df["UsageBand"].cat.categories

Index(['High', 'Medium', 'Low'], dtype='object')

In [34]:
df["UsageBand"].cat.codes

0         2
1         2
2         0
3         0
4         1
         ..
401120   -1
401121   -1
401122   -1
401123   -1
401124   -1
Length: 401125, dtype: int8

In [37]:
def numericalize(df,col,name):
    if not is_numeric_dtype(col):
        df[name]=col.cat.codes+1

In [42]:
numericalize(df,df["UsageBand"],"UsageBand")

In [43]:
df["UsageBand"]

0         3
1         3
2         1
3         1
4         2
         ..
401120    0
401121    0
401122    0
401123    0
401124    0
Name: UsageBand, Length: 401125, dtype: int8

## Datatime Column

In [44]:
df["saledate"]

0        2006-11-16
1        2004-03-26
2        2004-02-26
3        2011-05-19
4        2009-07-23
            ...
401120   2011-11-02
401121   2011-11-02
401122   2011-11-02
401123   2011-10-25
401124   2011-10-25
Name: saledate, Length: 401125, dtype: datetime64[ns]

In [48]:
df["saledate"].year

AttributeError: 'Series' object has no attribute 'year'

In [49]:
df["saledate"].dt.year

0         2006
1         2004
2         2004
3         2011
4         2009
          ...
401120    2011
401121    2011
401122    2011
401123    2011
401124    2011
Name: saledate, Length: 401125, dtype: int64

In [50]:
"hey".capitalize()

'Hey'