# 1) Arg

* Değişken sayılı parametre vermenin bi yolu. list/tuple objelerini upack yapar ama dictionary objeleri yapmaz.

In [2]:
def sum(numbers):
    res=0
    for e in numbers:
        res +=e
    return res

In [3]:
numbers=[1,2,3,4]

In [4]:
sum(numbers)

10

In [6]:
def sum(*args):
    res=0
    for e in args:
        res+=e
    return res

In [7]:
sum(1,2,3,4,5)

15

In [15]:
def sum(*numbers):
    res =0
    print(type(numbers))
    print(numbers)
    for e in numbers:
        res += e
    return res

In [16]:
sum(1,2,3,4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [17]:
sum(1,2)

<class 'tuple'>
(1, 2)

3

In [19]:
sum(a=1,b=2) ## Error verir

TypeError: sum() got an unexpected keyword argument 'a'

# 2) Kwargs

* fonskiyona değişken sayıda keyword argument verebilmemizi sağlar.

In [24]:
def students(**kwargs):

    for v in kwargs.values():
        print(v)

In [25]:
students(name='Jake',student_number='401')

Jake
401

In [27]:
def students(**students):
    print(students)
    for v in students:
        print(v)

In [28]:
students(name='Jake',student_number='401')

{'name': 'Jake', 'student_number': '401'}
name
student_number

# Using args and kwargs together

In [31]:
def weird(*args,**kwargs):
    res =0
    for e in args:
        res += 0 
        
    for k,v in kwargs.items():
        print(k,":",v)
        
    return res

In [36]:
weird(1,2,3,4,5,6,7, name="Jake",student_number="401", age="45")

name : Jake
student_number : 401
age : 45

0

# 4) Unpacking

In [40]:
l= [1,2,3,4]

In [44]:
print(l)

[1, 2, 3, 4]

In [45]:
print(*l)

1 2 3 4

In [48]:
l1=[1,2,3,4]

In [49]:
l2=[20,21]

In [51]:
merged_l=[*l1,*l2]

In [52]:
merged_l

[1, 2, 3, 4, 20, 21]

In [53]:
d1={"name":"Jake","number":402}

In [54]:
d2={"last_name":"sky","grade":74}

In [55]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [56]:
d_merged={**d1,**d2}

In [57]:
d_merged

{'name': 'Jake', 'number': 402, 'last_name': 'sky', 'grade': 74}

In [58]:
d1={"name":"Jake","number":402}
d3={"last_name":"sky","grade":74}

In [60]:
d_merged3={**d1,**d3}

In [61]:
d_merged3

{'name': 'Jake', 'number': 402, 'last_name': 'sky', 'grade': 74}

In [62]:
d_merged2={"d1":d1,"d2":d2}

In [63]:
d_merged2

{'d1': {'name': 'Jake', 'number': 402},
 'd2': {'last_name': 'sky', 'grade': 74}}

In [68]:
str_list=[*"hey this is string"]

In [69]:
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [70]:
str_list=[*"hey"]

In [71]:
str_list

['h', 'e', 'y']