# Class tanımlamak

* fonksiyonlarda belirli fonsiyonalite ifade eden kodları bir arada tutma yolu

* Class'ın içerisindeki veri(data)'lara **attribute**, fonksiyonlara **metod** denir.

* Diyalim ki bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu **class** mantığı ile uyumlu. Her çalışanın farklı farklı özellikleri (*attribute*)'ları ve yaptıkları şeyler metodları olucak.

* Fonksiyon tanımlanırken **def** kullanıyorduk, class tanımlarken **class** ile tanımlayacağız.

* Class'ın içerinde method yaratırken, classtan yaratılan objeji methodlar ile argüman alırlar. istediğimiz adı verebiliriz ama genellikle **Self** diyoruz.

## Attribute

In [ ]:
class Employee:

:

In [2]:
class Employee:
    pass

In [3]:
e=Employee()

In [4]:
# e objesine "a" attribute'u ekledik
e.a=4

In [5]:
e.a

4

* Böyle tek tek belirtmek yerine en başta oluştururken toplu olarak ta belirtebiliriz.

In [6]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay

* Class bunlardan **objeleri**'ler yaratmak için bir kalıptır sadece!!

In [7]:
emp_1 = Employee("James","Hughes","32",5000)

* yukarıda yarattığımız bir obje oldu. Employee classın bir objesi

In [9]:
emp_2 = Employee("Charlie","Brown","22",3000)

In [10]:
emp_1.name

'James'

* Burada yarattığımız bütün attriburye'lar **instance veriable**. Her obje (classtan yaratılan instance), kendine özel attribute'a sahip (iki kişinin adı aynı olabilir, ama hepsi için ayrı bir veriable var ve hepsi kendi age attribute'unda tutuluyor)

## Method

In [11]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        
    def fullname(self):
        print(f"{self.name} {self.last}")

In [12]:
emp_1 = Employee("James","Hughes","32",5000)

In [13]:
emp_2 = Employee("Charlie","Brown","22",3000)

In [14]:
emp_1.fullname()

James Hughes

In [15]:
emp_2.fullname()

Charlie Brown

* self otomatik olarak aktarılıyor demiştim. eğer self'i argüman olarak vermezsek

In [16]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        
    def fullname():
        print(f"{self.name} {self.last}")

In [17]:
emp_1 = Employee("James","Hughes","32",5000)

In [18]:
emp_1.fullname()

TypeError: fullname() takes 0 positional arguments but 1 was given

* self otomatik olarak verildiği için, method tanımında onu belirtmezsek hata alıyoruz

# Class Veriable

In [22]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay

In [23]:
emp_1 = Employee("James","Hughes","32",5000)

In [24]:
emp_2 = Employee("Charlie","Brown","22",3000)

* **Instance Veriable :** Class'tan yaratılan objelerin kendilerine özgü değişkenleri. Bu örnektedi name,last,age,pat gibi

* **Class Veriable :** Class'tan yaratılan tüm objelerde paylaşılan değişkenler

* Instance veriable her obje için farklı olabilir, ama class veriable hepsi için aynı olmak zorunda

* Tüm çalışanlar kendi arasında hangi verinin paylaşılmasını isteyebilirim? Mesela şirket herkese aynı yüzdelik zam uyguluyorsa bunun yüzdesini class veriable'ı olarak tutabilirim.

In [31]:
class Employee:
    
    raise_percent = 1.05
    
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        
    def apply_raise(self):
        self.pay = self.pay * raise_percent

In [32]:
emp_1 = Employee("James","Hughes","32",5000)

In [33]:
emp_1.apply_raise()

NameError: name 'raise_percent' is not defined

* Class veriable'larına ulaşmak için ya genel Class üzerinden ya da o sırada oluşturduğumuz obje üzerinden ulaşmamız lazım

In [34]:
emp_1.raise_percent

1.05

In [35]:
Employee.raise_percent

1.05

In [45]:
class Employee:
    
    raise_percent = 1.05
    
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [46]:
emp_1 = Employee("James","Hughes","32",5000)

In [47]:
emp_2 = Employee("Charlie","Brown","22",3000)

In [48]:
emp_1.pay

5000

In [49]:
emp_1.apply_raise()

In [50]:
emp_1.pay

5250.0

In [51]:
emp_2.pay

3000

In [52]:
emp_2.apply_raise()

In [53]:
emp_2.pay

3150.0

* emp_1.raise_percent -> ilk olarak bu instance a bakar, eğer bulamazsa class veriable olarak var mı diye bakar

In [54]:
print(emp_1.__dict__) # objenin attributelarını döndürür.

{'name': 'James', 'last': 'Hughes', 'age': '32', 'pay': 5250.0}

In [55]:
print(type(emp_1))

<class '__main__.Employee'>

In [56]:
print(Employee.__dict__)

{'__module__': '__main__', 'raise_percent': 1.05, '__init__': <function Employee.__init__ at 0x7f975c318430>, 'apply_raise': <function Employee.apply_raise at 0x7f975c3180d0>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [57]:
emp_1.experience=10

In [58]:
print(emp_1.__dict__) # objenin attributelarını döndürür.

{'name': 'James', 'last': 'Hughes', 'age': '32', 'pay': 5250.0, 'experience': 10}

In [59]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.05
1.05
1.05

In [60]:
Employee.raise_percent =1.06

* Class veriable'ı **class üzerinde** güncellemek hepsinde günceller

In [61]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.06
1.06
1.06

* Class veriable'ı **instance(classtan oluşturulan bir obje) üzerinde** güncellemek, sadece o objenin o değerini günceller !

In [ ]:
emp_1.raise_percent = 1.07

* çünkü normalde kendi üzerinde o attribute olmadığı için class'a bakardı artık kendisinde o attribute değeri yaratıldı

In [63]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.07
1.06
1.06

In [64]:
print(emp_1.__dict__) # objenin attributelarını döndürür.

{'name': 'James', 'last': 'Hughes', 'age': '32', 'pay': 5250.0, 'experience': 10, 'raise_percent': 1.07}

In [66]:
print(emp_2.__dict__) # objenin attributelarını döndürür.

{'name': 'Charlie', 'last': 'Brown', 'age': '22', 'pay': 3150.0}

In [67]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.07
1.06
1.06

## Kaç Tane Çalışan Olduğunu Class Veriable'ı Olarak Tutmak

* Her yeni çalışan geldiğinde toplam çalışanı 1 arttırmak istiyorum

In [68]:
class Employee:
    
    raise_percent = 1.05
    num_emp = 0 
    
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        Employee.num_emp += 1
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [69]:
Employee.num_emp

0

In [70]:
emp_1 = Employee("James","Hughes","32",5000)

In [71]:
Employee.num_emp

1

In [72]:
emp_2 = Employee("Charlie","Brown","22",3000)

In [73]:
Employee.num_emp

2

# Class Method

* @classmethod decorator methodu ilk argüman olarak instance almak yerine class'ı alacak şekilde günceller.

In [74]:
class Employee:
    
    raise_percent = 1.05
    num_emp = 0 
    
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        Employee.num_emp += 1
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent
        
    @classmethod    
    def set_raise(cls,amount):
        cls.raise_percent = amount

In [75]:
emp_1 = Employee("James","Hughes","32",5000)

In [76]:
emp_2 = Employee("Charlie","Brown","22",3000)

In [77]:
Employee.set_raise(1.6)

In [78]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.6
1.6
1.6

## Alternative Constructor

* Diyelimki bize class'ı oluştururken input olarak string veriliyor ve bizim bundan ,name,age gibi bilgileri kendimiz çıkarmamız gerekiyor.

In [79]:
emp_1_str="James-Hughes-32-5000"

In [80]:
emp_2_str="Charlie-Brown-22-3000"

In [82]:
name,last,age,pay= emp_1_str.split("-")

In [83]:
emp_1=Employee(name,last,age,pay)

* Ama belki her zaman bu şekilde vermeyeğiz. String olarak input geldiğinde objenin bu şekilde oluşması için başka nasıl bir mekanizma kullanabilirim ?

* Her seferinde kendim parse etmek yerine bunu bir method olarak yazabilirim

In [84]:
class Employee:
    
    raise_percent = 1.05
    num_emp = 0 
    
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
        Employee.num_emp += 1
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent
        
    @classmethod    
    def set_raise(cls,amount):
        cls.raise_percent = amount
        
    @classmethod    
    def from_string(cls,emp_str):
        name,last,age,pay= emp_str.split("-")
        return cls(name,last,int(age),float(pay)) # yeni çalışan olarak döndürücek

In [85]:
emp_1_str="James-Hughes-32-5000"

In [86]:
emp_2_str="Charlie-Brown-22-3000"

In [87]:
emp_1 = Employee.from_string(emp_1_str)

In [89]:
emp_1.__dict__

{'name': 'James', 'last': 'Hughes', 'age': 32, 'pay': 5000.0}